.skills-section {
  background-color: #F7F3EE;
}

.skills-grid {
  max-width: 1000px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.skill-item {
  color: #3E342D;
  border: 3px solid var(--primary);
  border-radius: 15px;
  text-align: center;
  padding: 30px 20px;
  transition: 0.3s;
}

.skill-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.skill-item h3 {
  margin-bottom: 20px;
}

.skill-bar {
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.skill-progress {
  height: 100%;
  background: var(--primary);
  border-radius: 10px;
}

@media (max-width: 900px) {

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {

  .skills-grid {
    grid-template-columns: 1fr;
  }
}
.skills-section h2{
    text-align: center;

}